/*Authentication used in small and medium/big navbars*/
.auth-option {
  color: var(--dark-green);
  background-color: var(--ligth-green);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: block;
}

.auth-option:hover {
  color: var(--white);
  background-color: var(--dark-green);
}

/*Forms*/
.main-form {
  color: var(--black);
  padding: 2rem;
  height: 100vh;
}

.section-form {
  background-color: var(--ligth-green);
  border-radius: 10px;
  padding: 1rem;
}

.form-container h1 {
  font-size: 1.5rem;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-label {
  display: block;
  margin-top: 1rem;
}

.form-input {
  padding: 0.5rem;
  width: 100%;
}

.submit-btn {
  background-color: var(--darker-green);
  color: var(--white);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.submit-btn:hover {
  background-color: var(--dark-green);
}

#create-account {
  font-size: 1rem;
}

.sign-up-link {
  color: var(--darker-green);
  text-decoration: underline;
  margin-left: 0.5rem;
}

/*Error Messages*/
.input-error-msg {
  color: var(--red);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.generic-error-container {
  background-color: var(--dark-red);
  color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 1rem 0;
}

.error-icon {
  border-right: 1px solid var(--white);
}

.error-icon .icon {
  font-size: 2.5rem;
  padding: 0.2rem;
}

.error-msg {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.2rem;
}
