/*Colors*/

:root {
  --nav-green: #006400;
  --nav-green-hover: #017601;
  --card-header: #004b23;
  --ligth-green: #b5ebc7;
  --password-rules: #d3eddc;
  --ligth-red: #ebb5b5;
  --remove-item: #e30a0a0f;
  --white: #ffffff;
  --soft-white: #faf9f6;
  --black: #000000;
  --gray: #cac9c9;
  --ligth-gray: #eeecec;
  --checked-item-row: #b0b0b0;
  --checked-item: #333333;
  --btn-success: #5dba00;
  --btn-success-hover: #56ad00;
  --btn-danger: #bf0202;
  --btn-danger-hover: #ad0000;
  --btn-info: #0056ad;
  --btn-info-hover: #014f9e;
  --btn-warning: #ffc107;
  --btn-warning-hover: #e2ab05;
}
