/*Authentication used in small and medium/big navbars*/
.auth-option {
  color: var(--nav-green);
  background-color: var(--ligth-green);
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: block;
}

.auth-option:hover {
  color: var(--white);
  background-color: var(--nav-green);
}

/*Forms*/
.form-wrapper {
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-description {
  text-align: center;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.left-container.label-required {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.input-icon-container {
  display: flex;
  height: 2.125rem;
  width: 100%;
  margin-bottom: 1rem;
}

.input-icon {
  background-color: var(--submit);
  color: var(--white);
  font-size: 1.4rem;
  padding: 1rem;
}

.form-input {
  border: 1px solid var(--gray);
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.form-input:focus {
  border-color: var(--submit);
  outline: none;
}

.select-input {
  border: 1px solid var(--gray);
  padding: 0.2rem 1rem;
}

#create-account {
  font-size: 1rem;
  margin: 1rem 0;
}

/*Password rules*/
.password-rules {
  opacity: 0;
  visibility: hidden;
  background-color: var(--password-rules);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--submit);
  padding: 0.5rem 1rem;
  margin-top: -1rem;
  width: 100%;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.password-rules-pop-up:focus-within .password-rules {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s 0s;
}

.rules-list {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
}

.rules-item {
  color: var(--black);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

/*Form Buttons*/
.buttons {
  gap: 2rem;
}

/*Textarea*/
.form-input.text-description {
  height: 5rem;
  margin-bottom: 2rem;
}

/*Error Messages*/
.input-error-msg {
  color: var(--red);
  font-size: 1rem;
  line-height: 1.5rem;
}

.generic-error-container {
  background-color: var(--cancel);
  color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 1rem 0;
}

.error-icon {
  border-right: 1px solid var(--white);
}

.error-icon .icon {
  font-size: 2.5rem;
  padding: 0.2rem;
}

.error-msg {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.2rem;
}

@media (min-width: 800px) {
  .input-container {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .input-container {
    width: 30%;
  }

  .form-input {
    font-size: 1rem;
  }
}
