.content.list {
  padding: 1rem;
}

/*MyLists component*/
.add-container {
  margin: 2rem 0;
}

/*MyLists component info button*/
.btn.info-list-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0;
}

/*MyLists component table rows*/
.column-container.name {
  font-weight: bold;
}

.column-container.name {
  flex: 2;
}

.column-container.creationDate,
.column-container.itemCount,
.column-container.listInfo {
  flex: 1;
}

.column-container.creationDate,
.column-container.itemCount {
  font-size: 1rem;
}

/*GroceriesList component*/
.column-container.category,
.column-container.itemName {
  flex: 2;
}

.column-container.itemQuantity,
.column-container.itemActions {
  flex: 1;
}

/*List and Item counter*/
.counter-list {
  margin: 0.5rem 0;
}

.counter {
  font-size: 1rem;
}

.counter span {
  font-weight: normal;
}

/*GroceriesList component - Item Category*/
.item-category {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
}

.header.groceries {
  margin-top: 2rem;
}

.header.groceries,
.groceries-desc-date {
  text-align: center;
}

/*GroceriesList component - Info Section*/
.groceries-info {
  text-align: center;
  margin: 1rem 0;
}

.groceries-info p {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.groceries-toast {
  align-self: flex-start; /* Move this item to the top */
}

.edit-delete-container {
  gap: 1rem;
}

.btn.edit-delete-btn {
  font-size: 1rem;
  padding: 0.5rem;
}

/*GroceriesList component - user actions*/
.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

/*GroceriesList component - checked item*/
.check-item {
  background-color: transparent;
  color: var(--card-header);
  font-size: 1.5rem;
}

.row-container.data.checked {
  background-color: var(--checked-item-row);
}

.row-container.data.checked:hover {
  background-color: var(--checked-item-row);
}

a.checked {
  pointer-events: none;
}

a.checked .edit-icon,
a.checked .delete-icon {
  color: var(--checked-item);
}

.row-container.data.checked::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 0.15rem;
  width: calc(100% / 4 * 3);
}

span.checked {
  color: var(--checked-item);
}

/*GroceriesListForm component*/
.input-container.add-list {
  margin-bottom: 4rem;
}

/*Remove grid Info*/
.remove-grid {
  display: grid;
  align-items: center;
  gap: 1rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--btn-danger-hover);
  background-color: var(--remove-item);
  padding: 1rem;
}

.remove-question {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.remove-question span {
  font-weight: bold;
}

/*RemoveItem component*/
.remove-item-col-rows {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.remove-item-question span {
  margin-left: 0.5rem;
  font-weight: bold;
}

.item-category.remove-item {
  width: 100%;
}

ul .remove-item-info {
  color: var(--black);
  margin-bottom: 1rem;
}

.remove-item-btns {
  gap: 2rem;
  margin-top: 1rem;
}

/*RemoveGroceriesList component*/
.remove-list-col-rows {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.groceries-info.remove-list {
  margin: 0;
}

@media (min-width: 800px) {
  .content.list {
    padding: 2rem;
  }

  /*MyLists component*/
  .column-container.itemCount {
    text-align: center;
  }

  /*MyLists component Item Category*/
  .item-category {
    width: 60%;
  }

  /*MyLists component info button*/
  .btn.info-list-btn {
    font-size: 2rem;
  }

  .header.groceries {
    text-align: left;
  }

  /*GroceriesList component*/
  .column-container.category,
  .column-container.itemName,
  .column-container.itemActions {
    flex: 1;
  }

  .column-container.itemQuantity {
    flex: 0.5;
  }

  .column-container.category {
    align-items: center;
  }

  .item-count {
    font-size: 1.2rem;
  }

  .item-category {
    font-size: 0.9rem;
  }

  .btn.edit-delete-btn {
    font-size: 1.4rem;
  }

  /*GroceriesList component - checked item*/
  .check-item {
    font-size: 2rem;
  }

  /*RemoveItem and RemoveGroceriesList component*/
  .remove-container {
    width: 70%;
    margin: auto;
  }

  /*GroceriesListForm component*/
  .input-container.add-list {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1200px) {
  .content.list {
    padding: 3rem;
  }

  /*MyLists component table rows*/
  .column-container.name,
  .column-container.itemCount,
  .column-container.listInfo,
  .column-container.creationDate {
    font-size: 1.4rem;
  }

  /*MyLists component Item Category*/
  .item-category {
    padding: 0.5rem;
    width: 40%;
  }

  .btn.edit-delete-btn {
    font-size: 1.8rem;
  }

  /*RemoveItem and RemoveGroceriesList component*/
  .remove-container {
    width: 60%;
    margin: auto;
  }

  /*GroceriesList component*/
  .actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
  }
}
