.content.list {
  padding: 1rem;
}

/*MyLists component*/
.btn.info-list-btn {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0;
}

/*MyLists component table rows*/
.column-container.name {
  font-weight: bold;
}

.column-container.name,
.column-container.itemCount,
.column-container.listInfo {
  flex: 1;
}

.column-container.description {
  flex: 2;
}

/*delete*/
.groceries-row-container.groceries-header {
  background: linear-gradient(90deg, var(--submit) 0%, var(--nav-green) 50%);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 1rem 0.5rem;
}

.no-list {
  background-color: var(--ligth-green);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
}

.groceries-row-container.item-data,
.groceries-row-container.centered {
  padding: 1rem;
  border-left: 1px solid var(--submit);
  border-right: 1px solid var(--submit);
  border-bottom: 1px solid var(--submit);
}

.groceries-row-container.item-data:hover {
  background-color: var(--ligth-green);
}

.remove-item-icon {
  color: var(--cancel);
  font-size: 1.5rem;
}

/*Remove Item Component*/
.remove-item-container {
  border: 1px solid var(--submit);
  background-color: var(--ligth-gray);
}

.remove-item {
  padding: 1rem;
}

ul .remove-item-info {
  color: var(--black);
  margin-bottom: 0.5rem;
}

.remove-item-btns {
  gap: 2rem;
}

.remove-item-question {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .content.list {
    padding: 2rem;
  }

  /*MyLists component*/
  .column-container.itemCount {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .content.list {
    padding: 3rem;
  }

  /*MyLists component table rows*/
  .column-container.name,
  .column-container.itemCount,
  .column-container.listInfo {
    flex: 1;
  }

  .column-container.description {
    flex: 1.5;
  }

  .column-container.name,
  .column-container.itemCount,
  .column-container.listInfo,
  .column-container.description {
    font-size: 1.4rem;
  }

  .btn.info-list-btn {
    font-size: 1.2rem;
    width: 7.5rem;
  }
}
