.content.list {
  padding: 1rem;
}

/*MyLists component info button*/
.btn.info-list-btn {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0;
}

/*MyLists component table rows*/
.column-container.name {
  font-weight: bold;
}

.column-container.name {
  flex: 2;
}

.column-container.creationDate,
.column-container.itemCount,
.column-container.listInfo {
  flex: 1;
}

.column-container.creationDate,
.column-container.itemCount {
  font-size: 1rem;
}

/*AddGroceryList component*/
.add-grocery-list {
  margin-top: 3rem;
}

/*GroceriesList component*/
.column-container.category,
.column-container.itemName {
  flex: 2;
}

.column-container.itemQuantity,
.column-container.itemActions {
  flex: 1;
}

/*Item Category*/
.item-category {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}

/*RemoveItem component*/
.remove-item-container {
  border: 1px solid var(--submit);
  background-color: var(--ligth-gray);
}

.remove-item {
  padding: 1rem;
}

ul .remove-item-info {
  color: var(--black);
  margin-bottom: 0.5rem;
}

.remove-item-btns {
  gap: 2rem;
}

.remove-item-question {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .content.list {
    padding: 2rem;
  }

  /*MyLists component*/
  .column-container.itemCount {
    text-align: center;
  }

  /*GroceriesList component*/
  .column-container.category,
  .column-container.itemName,
  .column-container.itemQuantity,
  .column-container.itemActions {
    flex: 1;
  }

  .column-container.category {
    align-items: center;
  }

  /*MyLists component Item Category*/
  .item-category {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .content.list {
    padding: 3rem;
  }

  /*MyLists component info button*/
  .btn.info-list-btn {
    font-size: 1.2rem;
    width: 7.5rem;
  }

  /*MyLists component table rows*/
  .column-container.category,
  .column-container.name {
    flex: 1.5;
  }

  .column-container.creationDate,
  .column-container.itemCount,
  .column-container.listInfo {
    flex: 1;
  }

  .column-container.name,
  .column-container.itemCount,
  .column-container.listInfo,
  .column-container.creationDate {
    font-size: 1.4rem;
  }

  /*MyLists component Item Category*/
  .item-category {
    padding: 0.5rem;
    width: 40%;
  }
}
