/*Home component*/
.header-groceries-img-container {
  margin-bottom: 1rem;
}

.home-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.home-title .green-text {
  display: block;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.groceries-img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
}

.home-text {
  text-align: center;
  margin: 2rem 0;
}

.home-text p {
  margin-bottom: 1rem;
}

/*Signup*/
.home-signup-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.sign-up-home {
  margin-left: 0.5rem;
}

/*Features Section*/
.features-section {
  background-color: var(--card-header);
  padding: 3rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.features-title {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.features-card {
  background-color: var(--soft-white);
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
}

.features-icon {
  color: var(--card-header);
  font-size: 2.5rem;
}

.info-title {
  color: var(--card-header);
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.info-text {
  color: var(--black);
  margin: 1rem 0;
}

.centered-column-container.info {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  .home {
    align-items: flex-start;
  }

  .home-title {
    font-size: 4.5rem;
    text-align: left;
    margin: 0;
  }

  .header-groceries-img-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .header-groceries-img-container header {
    margin: 0;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .img-container {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .groceries-img {
    width: 16rem;
    height: 16rem;
  }

  .home-text {
    text-align: left;
    font-size: 1.4rem;
    margin: 3rem 0;
  }

  .home-text p {
    margin-bottom: 2rem;
  }

  /*Signup*/
  .home-signup-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  /*Features Section*/
  .features-container {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .header-groceries-img-container {
    gap: 4rem;
    justify-content: flex-start;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1200px) {
  .home {
    width: 100%;
  }

  .home-title {
    font-size: 6rem;
  }

  .groceries-img {
    width: 18rem;
    height: 18rem;
  }

  /*Signup*/
  .home-signup-container {
    margin-top: 3rem;
  }

  /*Features Section*/
  .features-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
