#home-main {
  padding: 1rem 2rem;
}

#home-header {
  margin-bottom: 1rem;
}

#home-title {
  font-size: 2.2rem;
  text-align: center;
}

#green-text {
  color: var(--dark-green);
}

#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#groceries-bag {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}

.home-text {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1rem;
}

#sign-up-link a {
  color: var(--dark-green);
  text-decoration: underline;
  margin-left: 0.5rem;
}

@media (min-width: 800px) {
  #home-main {
    padding: 2rem 3rem;
  }

  #home-header {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  #home-title {
    font-size: 4rem;
    text-align: left;
  }

  #green-text {
    display: block;
  }

  .home-text {
    text-align: left;
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  #home-header {
    width: 100%;
  }

  #home-title {
    font-size: 6rem;
  }

  #groceries-bag {
    width: 90%;
    height: 90%;
    max-width: 20rem;
    max-height: 20rem;
  }
}
