@import "colors.css";
@import "smallScreenNav.css";
@import "medBigScreenNav.css";
@import "home.css";
@import "pageNotFound.css";
@import "forms.css";
@import "groceries.css";
@import "elements.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--soft-white);
}

nav {
  background-color: var(--nav-green);
}

ul {
  list-style: none;
}

li {
  color: var(--white);
}

li,
a {
  color: var(--white);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

button {
  border: none;
}

.click-link {
  color: var(--submit);
  text-decoration: underline;
}

.content {
  padding: 3rem;
}

header {
  margin-bottom: 1rem;
}

section {
  width: 100%;
}

a,
button {
  cursor: pointer;
}

/*Buttons*/
.btn {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: var(--white);
}

.btn.submit {
  background-color: var(--submit);
}

.submit:hover {
  background-color: var(--hover-submit);
}

.cancel {
  background-color: var(--cancel);
}

.cancel:hover {
  background-color: var(--hover-cancel);
}

.green-text {
  color: var(--nav-green);
}

.full-width {
  width: 100%;
}

/*Centered Row flex container*/
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Left Row flex container*/
.left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*Column flex container*/
.column-container {
  display: flex;
  flex-direction: column;
}

.column-container.full-height {
  min-height: 100vh;
}

.column-container main {
  flex: 1;
}

/*Centered Column flex container*/
.centered-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Space between flex container*/
.space-between-container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .btn {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
  }
}
