@import "colors.css";
@import "nav.css";
@import "home.css";
@import "forms.css";
@import "groceries.css";
@import "error.css";
@import "elements.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--soft-white);
}

nav {
  background-color: var(--nav-green);
}

/*Root Grid*/
#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav" "main";
}

#root nav {
  grid-area: nav;
}

/*Main Grid*/
#root main {
  grid-area: main;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.content {
  padding: 3rem;
}

ul {
  list-style: none;
}

li,
a {
  color: var(--white);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

header {
  margin: 1rem 0;
}

button {
  border: none;
  transition: background-color 0.5s, color 0.5s;
}

.click-link {
  color: var(--card-header);
  text-decoration: underline;
}

a,
button {
  cursor: pointer;
}

.green-text {
  color: var(--nav-green);
}

.full-width {
  width: 100%;
}

/*Table*/
.table {
  background-color: var(--soft-white);
  border-bottom: none;
  text-align: center;
  margin-bottom: 1rem;
}

.row-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border-left: 1px solid var(--card-header);
  border-right: 1px solid var(--card-header);
  border-bottom: 1px solid var(--card-header);
  padding: 1rem 0.5rem;
  position: relative;
}

.row-container.no-data {
  justify-content: center;
}

.row-container.data:hover {
  background-color: var(--ligth-gray);
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-header {
  background-color: var(--card-header);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 1rem 0.5rem;
}

/*Icon colors*/
.info-icon {
  color: var(--btn-info);
}

.edit-icon {
  color: var(--btn-warning);
}

.success-icon {
  color: var(--btn-success);
}

.delete-icon {
  color: var(--btn-danger);
}

/*Centered Row flex container*/
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Left Row flex container*/
.left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*Column flex container*/
.column-container {
  display: flex;
  flex-direction: column;
}

/*Centered Column flex container*/
.centered-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Space between flex container*/
.space-between-container {
  display: flex;
  justify-content: space-between;
}

.gap {
  gap: 1rem;
}

/*disabled button*/
button:disabled {
  cursor: not-allowed;
  background-color: var(--ligth-gray);
  color: var(--checked-item);
}

.btn:disabled:hover {
  background-color: var(--ligth-gray);
}

/*Button form submitting icon*/
.submitting-icon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

/*Active Navigation*/
.active-nav-link {
  border-bottom: 2px solid var(--white);
}

.full-height {
  height: 100vh;
}

@media (min-width: 800px) {
  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  /*Table*/
  .row-container {
    font-size: 1.2rem;
  }

  /*User Action Icons*/
  .user-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
  }

  /*Table*/
  .row-container {
    font-size: 1.4rem;
    padding: 1.7rem;
  }
}
