/*Hamburguer*/
#hamburguer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.icon-items {
  font-size: 1.6rem;
}

.icon-items#list {
  font-size: 1.4rem;
  cursor: pointer;
}

.icon-items#list :hover {
  border-bottom: 2px solid var(--white);
}

.icon-items .auth-option {
  font-size: 1rem;
}

/*Menu*/
#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#close {
  font-size: 2.2rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

#menu-items .item {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.item {
  margin-bottom: 1rem;
}

.item .icon {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.item .description {
  font-size: 1.5rem;
}

.item .description:hover {
  border-bottom: 2px solid var(--white);
}

#hamburguer-nav.hidden,
#menu-container.hidden {
  display: none;
}
